[Unit]
Description=Slack Status
After=NetworkManager-wait-online.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/slack_status_update

[Install]
WantedBy=basic.target